<div class="text-center">
  <h1>ngx-webcam Demo</h1>

  <div>
    @if (showWebcam) {
      <ngx-webcam [height]="500"
                  [width]="500"
                  [trigger]="triggerObservable"
                  (imageCapture)="handleImage($event)"
                  [allowCameraSwitch]="allowCameraSwitch"
                  [switchCamera]="nextWebcamObservable"
                  [mirrorImage]="WebcamMirrorProperties.ALWAYS"
                  [videoOptions]="videoOptions"
                  [imageType]="IMAGE_TYPE.WEBP"
                  [imageQuality]="1"
                  (cameraSwitched)="cameraWasSwitched($event)"
                  (initError)="handleInitError($event)"/>
    }
    <br>
    <button (click)="triggerSnapshot();" class="mt-5 mb-2 text-xl">Take A Snapshot</button>
    <button (click)="toggleWebcam();" class="mt-5 mb-2 text-xl">Toggle Webcam</button>
    <br>
    <button (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable" class="mt-5 mb-2 text-xl">Next Webcam
    </button>
    <input [(ngModel)]="allowCameraSwitch" id="cameraSwitchCheckbox" type="checkbox"><label for="cameraSwitchCheckbox">Allow
    Camera Switch</label>
    <br>
    DeviceId: <input [(ngModel)]="deviceId" class="w-500" id="deviceId" type="text">
    <button (click)="showNextWebcam(deviceId);">Activate</button>
    <br>
    Preferred facing mode:
    <input [(ngModel)]="facingMode" name="facingMode" type="radio" value="user"> User
    <input [(ngModel)]="facingMode" name="facingMode" type="radio" value="environment"> Environment
    <input [(ngModel)]="facingMode" name="facingMode" type="radio" value=""> No preference
  </div>
</div>

@if (webcamImage) {
  <div class="text-center">
    <h2>Nice one!</h2>
    <img [src]="webcamImage.imageAsDataUrl" alt="webcam image" class="max-w-800 max-h-800">
  </div>
}

@if (messages.length > 0) {
  <h4>Messages:</h4>
}
@for (msg of messages; track msg) {
  <ul>
    <li>{{ msg | json }}</li>
  </ul>
}

<h2>Like this project on GitHub:</h2>
<ul class="pb-20">
  <li>
    <h2><a href="https://github.com/basst314/ngx-webcam" rel="noopener" target="_blank">ngx-webcam / GitHub</a></h2>
  </li>
</ul>
